<section class="mainbar" data-ng-controller="admin as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-unstyled list-flow-tight">
                        <li class="" data-ng-repeat="image in vm.Images" data-ng-click="vm.setCurrentImageIndex($index)">
                            <!-- " vm.showimage(image)" -->

                            <div class="well well-sm">
                                <img data-ng-src="{{vm.getImageThumbnail(image)}}" alt="image.fileName" class="img img-thumbnail img-responsive" />
                                <!--<button data-ng-click="vm.getImageThumbnail(image)" class="btn btn-default"></button>-->
                                <!--<img ng-src="{{image.thumbnail}}" />-->
                                {{image.fileName}}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <img alt="No Image Selected" class="img img-responsive" data-ng-src="{{vm.CurrentImage}}" />
                    </div>
                    <div class="row">
                        <button class="col-md-2 previous" data-ng-click="vm.previousImage()">Previous</button>
                        <button class="col-md-offset-4 col-md-2 next" data-ng-click="vm.nextImage()">Next</button>
                    </div>
                </div>

                <div class="row">
                    <div data-ng-show="vm.errorMessage">
                        {{vm.errorMessage}}
                    </div>
                </div>
            </div>

            <div class="widget-foot">
                <div class="clearfix"></div>
                <pagination boundary-links="true"
                            on-select-page="vm.pageChanged(page)"
                            total-items="vm.imageCount"
                            items-per-page="vm.paging.pageSize"
                            page="vm.paging.currentPage"
                            max-size="vm.paging.maxPagesToShow"
                            class="pagination-small"
                            previous-text="Prev"
                            next-text="Next"
                            first-text="First"
                            last-text="Last">

                </pagination>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
</section>
